openapi: 3.0.0
info:
  title: ICAA Login
  version: 1.0.0
  description: An API for logging into ICAA.
servers:
  - url: https://api.icaa.world/
    description: Production server
  - url: http://localhost:3001/
    description: Local dev server
security:
  - icaaCookieAuth: []
  - icaaBearerAuth: []
paths:
  /login/google:
    post:
      summary: Logs in and returns the auth cookie
      requestBody:
        required: true
        description: The Google JWT to log in with
        content:
          application/json:
            schema:
              type: object
              required:
                - googleJWT
              properties:
                googleJWT:
                  type: string
      security: []
      responses:
        '200':
          description: >
            Auth successful.
            The access and refresh tokens are returned in cookies named `ICAA_ACCESS_TOKEN` and `ICAA_REFRESH_TOKEN`.
          headers:
            Set-Cookie:
              schema: 
                type: string
                example: ICAA_ACCESS_TOKEN=<access_token>; Path=/; HttpOnly, ICAA_REFRESH_TOKEN=<refresh_token>; Path=/; HttpOnly
              description: The ICAA auth token cookies.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserInfo'
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /login/session:
    get:
      summary: Returns info about the current session/user
      description: Returns information about the currently logged in user.
      responses:
        '200':
          description: User info
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserInfo'
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      summary: Logs the user out
      description: For cookie based auth, deletes the cookies and revokes the refresh token, effectively logging the user out.
      security:
        - icaaCookieAuth: []
      responses:
        '200':
          description: User logged out
          headers:
            Set-Cookie:
              schema:
                type: string
                example: ICAA_ACCESS_TOKEN=; Path=/; Max-Age=0;, ICAA_REFRESH_TOKEN=; Path=/; Max-Age=0;
              description: Tells the browser to delete the cookies.
  /login/refresh:
    post:
      summary: Refreshes the access token using a refresh token
      description: >
        Uses the refresh token cookie to generate a new access token.
        The old refresh token is invalidated and a new one is issued (token rotation).
      security:
        - icaaRefreshCookieAuth: []
      responses:
        '200':
          description: Token refresh successful
          headers:
            Set-Cookie:
              schema:
                type: string
                example: ICAA_ACCESS_TOKEN=<new_access_token>; Path=/; HttpOnly, ICAA_REFRESH_TOKEN=<new_refresh_token>; Path=/; HttpOnly
              description: New access and refresh token cookies.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserInfo'
        '401':
          description: Unauthorized - invalid or expired refresh token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /login/v1/m2m-tokens:
    post:
      summary: Exchanges machine client credentials for a short-lived JWT
      description: >
        Client-credentials exchange for service-to-service authentication.
        The machine client authenticates with HTTP Basic auth
        (Authorization: Basic base64(clientId:clientSecret)).
        On success a 5-minute RS256 machine JWT is returned.
        Internet-facing and rate limited (DynamoDB fixed-window counter + lockout);
        429 is returned when throttled or locked out.
      security: []
      parameters:
        - name: Authorization
          in: header
          required: true
          description: HTTP Basic credentials - base64(clientId:clientSecret).
          schema:
            type: string
            minLength: 10
      responses:
        '200':
          description: Machine token issued
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessToken'
        '400':
          description: Missing or malformed Basic credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unknown clientId or invalid clientSecret (invalid_client)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Rate limited or locked out
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal error (e.g. failed to load signing keys)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /login/.well-known/jwks.json:
    get:
      summary: Returns the JSON Web Key Set for ICAA token verification
      description: >
        Serves the RSA public keys (RFC 7517 JWK Set) used to verify ICAA JWTs,
        keyed by kid (currently machine-*; user-* reserved for ADR-0007).
      security: []
      responses:
        '200':
          description: JWK set
          headers:
            Cache-Control:
              schema:
                type: string
                example: public, max-age=300, stale-while-revalidate=3600
              description: Cacheable for 5 minutes, allow stale reuse for an hour.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JWKS'
        '500':
          description: Failed to load signing keys
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

components:
  securitySchemes:
    icaaCookieAuth:
      type: apiKey
      in: cookie
      name: ICAA_ACCESS_TOKEN
      description: ICAA access token cookie
    icaaBearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: ICAA access token in Authorization header
    icaaRefreshCookieAuth:
      type: apiKey
      in: cookie
      name: ICAA_REFRESH_TOKEN
      description: ICAA refresh token cookie (for token refresh endpoint)
  schemas:
    UserInfo:
      type: object
      required:
        - profilePicURL
        - expiresAt
        - userEmail
        - roles
      properties:
        profilePicURL:
          type: string
        expiresAt:
          type: string
          format: date-time
        userEmail:
          type: string
        roles:
          type: array
          items:
            type: string
            enum:
              - ADMIN
          description: User's assigned roles
    ErrorCode:
      type: string
      enum:
        - InternalError
        - AuthError
        - InputValidationError
        - RateLimited
    Error:
      type: object
      required:
        - code
        - message
      properties:
        code:
          $ref: '#/components/schemas/ErrorCode'
          example: InternalError
        message:
          type: string
          example: An unexpected error occurred.
    AccessToken:
      type: object
      description: A short-lived machine JWT, plus its metadata.
      required:
        - access_token
        - token_type
        - expires_in
      properties:
        access_token:
          type: string
          description: The RS256 machine JWT (Bearer).
        token_type:
          type: string
          enum:
            - Bearer
        expires_in:
          type: integer
          description: Token lifetime in seconds (300 = 5 minutes).
          example: 300
    JWKS:
      type: object
      description: JSON Web Key Set (RFC 7517) of ICAA token verification keys.
      required:
        - keys
      properties:
        keys:
          type: array
          items:
            $ref: '#/components/schemas/JWK'
    JWK:
      type: object
      description: RSA public key (RFC 7517), kid namespaced machine-* (user-* reserved for ADR-0007).
      required:
        - kty
        - kid
        - n
        - e
      properties:
        kty:
          type: string
          enum:
            - RSA
        kid:
          type: string
          example: machine-01
        use:
          type: string
          enum:
            - sig
          description: Key use - signing.
        alg:
          type: string
          enum:
            - RS256
        n:
          type: string
          description: Base64url-encoded RSA modulus.
        e:
          type: string
          description: Base64url-encoded RSA public exponent.
