openapi: 3.0.0
info:
  title: ICAA Login
  version: 1.0.0
  description: An API for logging into ICAA.
servers:
  - url: https://api.icaa.world/
    description: Production server
  - url: http://localhost:3001/
    description: Local dev server
security:
  - icaaCookieAuth: []
  - icaaBearerAuth: []
paths:
  /login/google:
    post:
      summary: Logs in and returns the auth cookie
      requestBody:
        required: true
        description: The Google JWT to log in with
        content:
          application/json:
            schema:
              type: object
              required:
                - googleJWT
              properties:
                googleJWT:
                  type: string
      security: []
      responses:
        '200':
          description: >
            Auth successful.
            The access and refresh tokens are returned in cookies named `ICAA_ACCESS_TOKEN` and `ICAA_REFRESH_TOKEN`.
          headers:
            Set-Cookie:
              schema: 
                type: string
                example: ICAA_ACCESS_TOKEN=<access_token>; Path=/; HttpOnly, ICAA_REFRESH_TOKEN=<refresh_token>; Path=/; HttpOnly
              description: The ICAA auth token cookies.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserInfo'
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /login/session:
    get:
      summary: Returns info about the current session/user
      description: Returns information about the currently logged in user.
      responses:
        '200':
          description: User info
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserInfo'
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      summary: Logs the user out
      description: Deletes the cookies and revokes the refresh token when its cookie is presented, effectively logging the user out.
      security:
        - icaaCookieAuth: []
        - icaaRefreshCookieAuth: []
      responses:
        '200':
          description: User logged out
          headers:
            Set-Cookie:
              schema:
                type: string
                example: ICAA_ACCESS_TOKEN=; Path=/; Max-Age=0;, ICAA_REFRESH_TOKEN=; Path=/; Max-Age=0;
              description: Tells the browser to delete the cookies.
  /login/refresh:
    post:
      summary: Refreshes the access token using a refresh token
      description: >
        Uses the refresh token cookie to generate a new access token.
        The old refresh token is invalidated and a new one is issued (token rotation).
      security:
        - icaaRefreshCookieAuth: []
      responses:
        '200':
          description: Token refresh successful
          headers:
            Set-Cookie:
              schema:
                type: string
                example: ICAA_ACCESS_TOKEN=<new_access_token>; Path=/; HttpOnly, ICAA_REFRESH_TOKEN=<new_refresh_token>; Path=/; HttpOnly
              description: New access and refresh token cookies.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserInfo'
        '401':
          description: Unauthorized - invalid or expired refresh token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /login/v1/m2m-tokens:
    post:
      summary: Exchanges machine client credentials for a short-lived JWT
      description: >
        Client-credentials exchange for service-to-service authentication.
        The machine client authenticates with HTTP Basic auth
        (Authorization: Basic base64(clientId:clientSecret)) and requests a
        token for one of its provisioned audiences. On success a 5-minute
        RS256 machine JWT is returned, bound to that audience with the exact
        scopes provisioned for it. Internet-facing and rate limited
        (DynamoDB fixed-window counter); 429 is returned when throttled.
      security: []
      parameters:
        - name: Authorization
          in: header
          required: true
          description: HTTP Basic credentials - base64(clientId:clientSecret).
          schema:
            type: string
            minLength: 10
        - name: audience
          in: query
          required: true
          description: Target audience — must be one of the client's provisioned audiences.
          schema:
            type: string
            pattern: '^[a-z0-9-]+-api$'
            maxLength: 64
      responses:
        '200':
          description: Machine token issued
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessToken'
        '400':
          description: Missing or malformed Basic credentials or audience
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unknown clientId, invalid clientSecret, or audience not provisioned for the client (invalid_client)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Rate limited or locked out
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal error (e.g. failed to load signing keys)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /login/v1/m2m-clients:
    get:
      summary: Lists provisioned machine clients (metadata only)
      description: >
        Admin-only list of machine clients (clientId, audiences, active).
        Secrets are never retrievable.
      security:
        - icaaCookieAuth: [admin]
        - icaaBearerAuth: [admin]
      responses:
        '200':
          description: Client list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/M2MClientList'
        '401':
          description: Missing/invalid auth or non-admin caller
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      summary: Provisions a new machine client credential
      description: >
        Generates a clientSecret, shown exactly once. This API never
        distributes the secret: delivering it to the caller is an explicit
        operator step. 409 if the clientId already exists (including revoked
        records).
      security:
        - icaaCookieAuth: [admin]
        - icaaBearerAuth: [admin]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateM2MClientRequest'
      responses:
        '201':
          description: Client provisioned (secret is shown exactly once)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/M2MClientCredentials'
        '400':
          description: Invalid clientId or audiences
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Missing/invalid auth or non-admin caller
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: clientId already exists
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /login/v1/m2m-clients/{clientId}:
    delete:
      summary: Revokes a machine client credential
      description: >
        Marks the client revoked (visible as active=false in the list). This
        API never touches caller-side secret storage: after revoking, remove
        or replace the caller's copy of the secret and roll/recycle callers
        (they cache it at startup). Outstanding tokens expire within 5
        minutes. Revocation is permanent via this API.
      security:
        - icaaCookieAuth: [admin]
        - icaaBearerAuth: [admin]
      parameters:
        - name: clientId
          in: path
          required: true
          description: Machine client id.
          schema:
            type: string
            pattern: '^[a-z0-9-]{1,64}$'
            maxLength: 64
      responses:
        '200':
          description: Revoked client record
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/M2MClient'
        '401':
          description: Missing/invalid auth or non-admin caller
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Unknown clientId
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    patch:
      summary: Replaces a machine client's audiences
      description: >
        Replaces the complete audiences-to-scopes map of a machine client;
        entries omitted here are removed (use {} to strip all access).
        Secrets are untouched — rotation still goes through .../rotate, and
        exchanges for revoked clients keep failing regardless of metadata.
        Applies to active and revoked clients alike.
      security:
        - icaaCookieAuth: [admin]
        - icaaBearerAuth: [admin]
      parameters:
        - name: clientId
          in: path
          required: true
          description: Machine client id.
          schema:
            type: string
            pattern: '^[a-z0-9-]{1,64}$'
            maxLength: 64
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateM2MClientRequest'
      responses:
        '200':
          description: Updated client record
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/M2MClient'
        '400':
          description: Invalid clientId, empty body, or bad audience/scopes
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Missing/invalid auth or non-admin caller
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Unknown clientId
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /login/v1/m2m-clients/{clientId}/rotate:
    post:
      summary: Rotates a machine client secret
      description: >
        Issues a new clientSecret, shown exactly once. The previous secret
        keeps working until the operator delivers the new secret and recycles
        callers. Delivering the new secret to the caller is an explicit
        operator step.
      security:
        - icaaCookieAuth: [admin]
        - icaaBearerAuth: [admin]
      parameters:
        - name: clientId
          in: path
          required: true
          description: Machine client id.
          schema:
            type: string
            pattern: '^[a-z0-9-]{1,64}$'
            maxLength: 64
      responses:
        '200':
          description: New secret (shown exactly once)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/M2MClientCredentials'
        '401':
          description: Missing/invalid auth or non-admin caller
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Unknown clientId
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Client is revoked (rotate of an inactive client)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /login/.well-known/jwks.json:
    get:
      summary: Returns the JSON Web Key Set for ICAA token verification
      description: >
        Serves the RSA public keys (RFC 7517 JWK Set) used to verify ICAA JWTs,
        keyed by kid (machine-* for service tokens, user-* for user tokens).
      security: []
      responses:
        '200':
          description: JWK set
          headers:
            Cache-Control:
              schema:
                type: string
                example: public, max-age=300, stale-while-revalidate=3600
              description: Cacheable for 5 minutes, allow stale reuse for an hour.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JWKS'
        '500':
          description: Failed to load signing keys
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

components:
  securitySchemes:
    icaaCookieAuth:
      type: apiKey
      in: cookie
      name: ICAA_ACCESS_TOKEN
      description: ICAA access token cookie
    icaaBearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: ICAA access token in Authorization header
    icaaRefreshCookieAuth:
      type: apiKey
      in: cookie
      name: ICAA_REFRESH_TOKEN
      description: ICAA refresh token cookie (for token refresh endpoint)
  schemas:
    UserInfo:
      type: object
      required:
        - profilePicURL
        - expiresAt
        - userEmail
        - roles
      properties:
        profilePicURL:
          type: string
        expiresAt:
          type: string
          format: date-time
        userEmail:
          type: string
        roles:
          type: array
          items:
            type: string
            enum:
              - ADMIN
          description: User's assigned roles
    ErrorCode:
      type: string
      enum:
        - InternalError
        - AuthError
        - InputValidationError
        - RateLimited
        - NotFound
        - Conflict
    Error:
      type: object
      required:
        - code
        - message
      properties:
        code:
          $ref: '#/components/schemas/ErrorCode'
          example: InternalError
        message:
          type: string
          example: An unexpected error occurred.
    AccessToken:
      type: object
      description: A short-lived machine JWT, plus its metadata.
      required:
        - access_token
        - token_type
        - expires_in
      properties:
        access_token:
          type: string
          description: The RS256 machine JWT (Bearer).
        token_type:
          type: string
          enum:
            - Bearer
        expires_in:
          type: integer
          description: Token lifetime in seconds (300 = 5 minutes).
          example: 300
    M2MClient:
      type: object
      description: Provisioned machine client metadata (never includes a secret).
      required:
        - clientId
        - audiences
        - active
      properties:
        clientId:
          type: string
          pattern: '^[a-z0-9-]{1,64}$'
          maxLength: 64
          example: event-registration
        audiences:
          type: object
          description: Provisioned audiences mapped to their exact scopes. An audience with no scopes (or no audiences at all) authenticates but authorizes nowhere.
          additionalProperties:
            type: array
            items:
              type: string
              pattern: '^m2m:[a-z0-9-]+$'
          example: {'profiles-api': ['m2m:player-profiles']}
        active:
          type: boolean
          description: False once revoked (DELETE). Revoked clients fail the exchange with 401.
    CreateM2MClientRequest:
      type: object
      description: Provisioning request for a new machine client.
      required:
        - clientId
        - audiences
      properties:
        clientId:
          type: string
          pattern: '^[a-z0-9-]{1,64}$'
          maxLength: 64
          example: event-registration
        audiences:
          type: object
          description: Provisioned audiences mapped to their exact scopes. May be empty to provision an identity before its scopes exist.
          additionalProperties:
            type: array
            items:
              type: string
              pattern: '^m2m:[a-z0-9-]+$'
          example: {'profiles-api': ['m2m:player-profiles']}
    M2MClientCredentials:
      type: object
      description: >
        A machine client id plus its plaintext secret. The secret is returned
        exactly once on create/rotate — it is never logged and never
        retrievable again.
      required:
        - clientId
        - clientSecret
      properties:
        clientId:
          type: string
          example: event-registration
        clientSecret:
          type: string
          description: The plaintext secret. Shown exactly once.
    UpdateM2MClientRequest:
      type: object
      description: Full replacement of a machine client's audiences map (secrets untouched).
      required:
        - audiences
      properties:
        audiences:
          type: object
          description: Complete new audiences-to-scopes map; entries omitted here are removed.
          additionalProperties:
            type: array
            items:
              type: string
              pattern: '^m2m:[a-z0-9-]+$'
          example: {'profiles-api': ['m2m:player-profiles']}
    M2MClientList:
      type: object
      description: Admin list of provisioned machine clients (metadata only).
      required:
        - clients
      properties:
        clients:
          type: array
          items:
            $ref: '#/components/schemas/M2MClient'
    JWKS:
      type: object
      description: JSON Web Key Set (RFC 7517) of ICAA token verification keys.
      required:
        - keys
      properties:
        keys:
          type: array
          items:
            $ref: '#/components/schemas/JWK'
    JWK:
      type: object
      description: RSA public key (RFC 7517), kid namespaced machine-* (service tokens) or user-* (user tokens).
      required:
        - kty
        - kid
        - n
        - e
      properties:
        kty:
          type: string
          enum:
            - RSA
        kid:
          type: string
          example: machine-01
        use:
          type: string
          enum:
            - sig
          description: Key use - signing.
        alg:
          type: string
          enum:
            - RS256
        n:
          type: string
          description: Base64url-encoded RSA modulus.
        e:
          type: string
          description: Base64url-encoded RSA public exponent.
